doctype html
html(lang="pt-br")
    include templates/header.pug    
    body.row.align-items-center.container-fluid.vh-100
        .container
            .card.d-flex.justify-content-center.align-items-center.w-50.mx-auto.p-4.bg-light
                h1.card-title.w-100.p-4.mb-4.bg-secondary.bg-gradient.text-dark.text-center Cadastro de Consulta
                .container.card-body
                    form(method="POST", action="create", autocomplete="off")
                        input#name(type="text", name="name", placeholder="Nome").form-control.mb-2
                        input#email(type="email", name="email", placeholder="Email").form-control.mb-2
                        input#cpf(type="text", name="cpf", placeholder="CPF").form-control.mb-2
                        input#description(type="text", name="description", placeholder="Descrição").form-control.mb-2
                        div.row
                            div.col
                                input#date(type="date", name="date", placeholder="Data").form-control.mb-2
                            div.col
                                input#time(type="time", name="time").form-control.mb-2
                        .card-footer.w-100.d-flex.justify-content-center.align-items-center
                            button.btn.btn-success.w-100.m-2 Cadastrar
    include templates/scripts.pug
    script(src="https://unpkg.com/imask") 
    script(src="js/mask.js") 