doctype html
html(lang="pt-br")
    include templates/header.pug
    body
        .d-flex.align-items-center.justify-content-center.vh-100.mx-4
            .card.mx-auto.p-0.bg-light.w-100.my-5.h-75
                #calendar.h-100
    script(src="js/index.js") 
    include templates/scripts.pug
